## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Busselton,AU,89.55,clear sky,-33.65,115.33,Observatory Guest House
1,8,Port Elizabeth,ZA,71.60,broken clouds,-33.92,25.57,39 On Nile Guest House
2,12,Rikitea,PF,77.86,clear sky,-23.12,-134.97,Pension Maro'i
3,14,Dubbo,AU,80.60,overcast clouds,-32.25,148.62,Comfort Inn Blue Lagoon
4,15,Launceston,AU,73.00,scattered clouds,-41.45,147.17,Hotel Grand Chancellor Launceston
...,...,...,...,...,...,...,...,...
222,690,Sur,OM,74.52,clear sky,22.57,59.53,Sur Plaza Hotel
223,691,Tautira,PF,75.20,light rain,-17.73,-149.15,Pension Oaoa
224,692,Voi,KE,77.31,scattered clouds,-3.39,38.56,Voi Wildlife Lodge
225,697,San Andres,CO,82.40,light rain,12.58,-81.70,Hotel Arena Blanca
226,698,Boa Vista,BR,75.20,light rain,2.82,-60.67,Aipana Plaza Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Souillac"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Souillac"]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Mahebourg")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Bambous Virieux")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Quatre Cocos")]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start[["Lat","Lng"]].to_numpy()[0][0], vacation_start[["Lat","Lng"]].to_numpy()[0][1])
end = (vacation_end[["Lat","Lng"]].to_numpy()[0][0], vacation_end[["Lat","Lng"]].to_numpy()[0][1])
stop1 = (vacation_stop1[["Lat","Lng"]].to_numpy()[0][0], vacation_stop1[["Lat","Lng"]].to_numpy()[0][1])
stop2 = (vacation_stop2[["Lat","Lng"]].to_numpy()[0][0], vacation_stop2[["Lat","Lng"]].to_numpy()[0][1])
stop3 = (vacation_stop3[["Lat","Lng"]].to_numpy()[0][0], vacation_stop3[["Lat","Lng"]].to_numpy()[0][1])

print(start, end, stop1, stop2, stop3)

(-20.52, 57.52) (-20.52, 57.52) (-20.41, 57.7) (-20.34, 57.76) (-20.21, 57.76)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
mauritius = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(mauritius)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,191,Souillac,MU,80.6,shower rain,-20.52,57.52,Bils' Villa
1,191,Souillac,MU,80.6,shower rain,-20.52,57.52,Bils' Villa
2,202,Mahebourg,MU,80.6,shower rain,-20.41,57.70,Shandrani Beachcomber Resort & Spa
3,94,Bambous Virieux,MU,81.0,shower rain,-20.34,57.76,Casa Tia Villa
4,459,Quatre Cocos,MU,81.0,shower rain,-20.21,57.76,Emeraude Beach Attitude Hotel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-20.5, 58.0), zoom_level = 8)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))